In [1]:
import xlwt
import xlrd

book = xlwt.Workbook()
ws = book.add_sheet('First Sheet')  # Add a sheet

f = open('harvest.txt', 'r+')

data = f.readlines() # read all lines at once
for i in range(len(data)):
  row = data[i].split()  # This will return a line of string data, you may need to convert to other formats depending on your use case

  for j in range(len(row)):
    ws.write(i, j, row[j])  # Write to cell i, j

book.save('testval' + '.xls')
f.close()

In [4]:
import pandas as pd
df = pd.read_excel('testval.xls')

In [5]:
df.head(10)

,Smoke,Sport,SBPCB,DBPCB,HRCB,SBPAB,DBPAB,HRAB,SBPA3,DBPA3,...,DBPCE,HRCE,SBPAE,DBPAE,HRAE,AgeB,BMIB,EndPoint,Time,Male
0,0,0,152.00,98.00,80.67,133.13,83.80,71.18,129.56,81.21,...,.,.,.,.,.,24,22.694,0,80,1
1,2,2,153.33,96.33,99.67,130.60,73.25,70.42,.,.,...,.,.,.,.,.,42,26.644,0,73,0
2,1,0,149.33,103.67,73,116.34,84.95,76.85,.,.,...,.,.,.,.,.,28,22.266,0,80,0
3,0,2,149.33,92.00,74,104.99,74.33,76.05,115.48,77.91,...,.,.,.,.,.,44,23.951,0,80,1
4,0,2,158.00,105.00,73.33,115.26,77.97,81.47,118.07,79.44,...,.,.,.,.,.,36,22.234,0,80,0
5,0,2,144.00,98.33,69.33,119.21,75.79,87.86,127.69,73.64,...,.,.,.,.,.,34,23.408,0,79,1
6,0,0,142.67,97.00,80,118.85,84.21,76.87,126.39,85.37,...,.,.,.,.,.,38,28.283,0,78,1
7,0,2,138.33,90.67,75.33,121.11,69.08,68.65,.,.,...,.,.,.,.,.,29,22.409,0,76,1
8,0,3,135.33,83.00,67,119.03,70.92,75.43,119.07,69.57,...,.,.,.,.,.,22,19.019,0,77,1
9,0,1,150.67,93.67,94.33,109.25,70.36,78.74,.,.,...,.,.,.,.,.,44,22.893,0,77,0

In [6]:
df.shape

(1100, 28)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 28 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Smoke     1100 non-null   object
 1   Sport     1100 non-null   object
 2   SBPCB     1100 non-null   float64
 3   DBPCB     1100 non-null   float64
 4   HRCB      1100 non-null   object
 5   SBPAB     1100 non-null   float64
 6   DBPAB     1100 non-null   float64
 7   HRAB      1100 non-null   float64
 8   SBPA3     1100 non-null   object
 9   DBPA3     1100 non-null   object
 10  HRA3      1100 non-null   object
 11  SBPC5     1100 non-null   object
 12  DBPC5     1100 non-null   object
 13  HRC5      1100 non-null   object
 14  SBPA5     1100 non-null   object
 15  DBPA5     1100 non-null   object
 16  HRA5      1100 non-null   object
 17  SBPCE     1100 non-null   object
 18  DBPCE     1100 non-null   object
 19  HRCE      1100 non-null   object
 20  SBPAE     1100 non-null   object
 21  DBPAE     1100 non-null   object
 22  HRAE      1100 non-null   object
 23  AgeB      1100 non-null   object
 24  BMIB      1100 non-null   object
 25  EndPoint  1100 non-null   int64
 26  Time      1100 non-null   object
 27  Male      1100 non-null   int64
dtypes: float64(5), int64(2), object(21)
memory usage: 240.8+ KB

In [10]:
df.dtypes

Smoke        object
Sport        object
SBPCB       float64
DBPCB       float64
HRCB         object
SBPAB       float64
DBPAB       float64
HRAB        float64
SBPA3        object
DBPA3        object
HRA3         object
SBPC5        object
DBPC5        object
HRC5         object
SBPA5        object
DBPA5        object
HRA5         object
SBPCE        object
DBPCE        object
HRCE         object
SBPAE        object
DBPAE        object
HRAE         object
AgeB         object
BMIB         object
EndPoint      int64
Time         object
Male          int64
dtype: object

In [17]:
df['Sport']=pd.to_numeric(df['Sport'],errors='coerce').isnull()

In [22]:
from scipy.stats import ttest_ind
gender=df['Male']
sport=df['Sport']
ttest, pval= ttest_ind(gender,sport,equal_var=False)
print('t-test statistics = ', ttest, 'p-val =', pval)

t-test statistics =  51.23522557746223 p-val = 4.546398624456687e-306